@model Group5.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="col-md-4">
    @{
        int nRows = (int)ViewBag.room.NumberRows;
        int nCols = (int)ViewBag.room.NumberCols;
        string seatStatus = new string('0', nRows * nCols);
        char[] seats = seatStatus.ToCharArray();
        foreach (Booking b in ViewBag.bookings)
        {
            for (int i = 0; i < b.SeatStatus.Length; i++)
                if (b.SeatStatus[i] == '1') seats[i] = '1';
        }

        for (int i = 0; i < nRows; i++)
        {
            for (int j = 0; j < nCols; j++)
            {
                int index = i * nCols + j;
                if (seats[index] == '1')
                {
                            <input type="checkbox" name="@index" checked disabled />
                }
                else
                {
                            <input type="checkbox" name="@index" onchange="setPrice(this)" />
                }
                if (j == nCols - 1)
                {
                            <br />
                }
            }

        }
    }
</div>
<script type="text/javascript">
    let amount = 0.0;
    let price = @ViewBag.show.Price;
    let types = [];
    for (let i = 0; i < @(nRows * nCols); i++) {
        types.push('0');
    }
    function setPrice(checkbox) {
        if (checkbox.checked) {
            amount += price;
            types[checkbox.name] = '1';
        } else {
            amount -= price;  
            types[checkbox.name] = '0';
        }
        $('#amount').val(amount);
        $('#seat_status').val(types.join(''));
    }
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" value="@ViewBag.show.ShowId" />
            <input type="hidden" asp-for="SeatStatus" id="seat_status" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" id="amount" readonly />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
