@model CoffeeManagement.Models.BillInfo

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Price
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (BillInfo item in ViewBag.lbf) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @(item.Food.Price * item.Amount)
            </td>          
        </tr>
}
    </tbody>
</table>
