@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@model Group5.Models.Show

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Show</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>            
    </dl>
</div>
<div>
    @{
        string user = HttpContextAccessor.HttpContext.Session.GetString("UserName") ?? "";
        if (user != "")
        {
            <a asp-action="Edit" asp-route-id="@Model.ShowId">Edit</a>
        }
    }
    
    <a asp-action="Index">Back to List</a>
</div>
