@model CoffeeManagement.Models.BillInfo

@{
    ViewData["Title"] = "Book";
}
<script src="~/js/jquery-3.5.1.min.js"></script>

<h1></h1>

<h4>Table @ViewBag.id</h4>
<hr />

@{
    int billCount = int.Parse(ViewData["countBillInfo"].ToString());
}

<div class="row" style="justify-content: space-between;">
    <div class="col-md-4">
        <h4>Select Food & Drinks:</h4>
        <br>
        <form asp-action="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@ViewBag.id" />
            <div class="form-group">
                <label for="category" class="control-label">Category:</label>
                <select class="form-control" id="category" name="category" asp-items="@ViewBag.FoodCategory" required>
                    <option value="" disabled selected hidden>-- Select a category --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="item" class="control-label">Food:</label>
                <select class="form-control" id="item" name="item" required></select>
            </div>
            <div class="form-group">
                <label for="amount" class="control-label">Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" min="1" max="1000" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Back</a>
    </div>

    @if (billCount == 0)
    {

    }
    else
    {
        <div class="col-md-4" style=" margin-right: 30px;">
            <h4>Enter Customer: </h4>
            <br>
            <form asp-controller="Bills" asp-action="Edit" asp-route-id="@ViewBag.id">
                <div class="form-group">
                    <label for="name" class="control-label">Name:</label>
                    <input type="text" class="form-control" name="name" id="name" pattern="[A-Za-z ]{1,50}" required />
                </div>
                <div class="form-group">
                    <label for="discount" class="control-label">Discount:</label>
                    <select class="form-control" id="discount" name="discount">
                        <option>0</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>50</option>
                        <option>70</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Order" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Food)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            Price
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BillInfo item in ViewBag.billInfo)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Food.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @(item.Amount * item.Food.Price)VND
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#edit" data-id="@item.Id" data-name="@item.Food.Name" data-amount="@item.Amount">Edit</a>
                                <a href="#" data-toggle="modal" data-target="#delete" data-id="@item.Id" data-name="@item.Food.Name">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (billCount == 0)
{
    <br>
    <p style="color:gray">This table haven't had any order yet.</p>
}

<div id="edit" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style=" padding: 0px 5px 15px; margin: 65px; ">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="BillInfoes" asp-action="Edit">
                    <input type="hidden" name="tableId" id="tableId" value="@ViewBag.id" />
                    <input type="hidden" name="billId" id="billId" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Item</label>
                                <input class="form-control" type="text" id="itemName" name="itemName" readonly>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Amount:</label>
                                <input type="number" class="form-control" id="amountEdit" name="amountEdit" min="1" max="1000" required>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="delete" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-controller="BillInfoes" asp-action="Delete">
                    <input type="hidden" name="tableId" id="tableId" value="@ViewBag.id" />
                    <input type="hidden" name="delBill" id="delBill" />
                    <input type="hidden" name="delName" id="delName" />
                    <div class="form-header" style="text-align:center">
                        <h3>Delete</h3>
                        <p style="margin-bottom: 35px;">Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row" style="text-align:center">
                            <div class="col-6">
                                <input type="submit" value="Delete" href="" class="btn btn-primary continue-btn" style="padding: 10px 70px">
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn" style="padding: 10px 70px">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#item').html('<option value="" disabled selected hidden>-- Select an item --</option>');
        $('#category').change(function() {
            var url = '@Url.Content("~/")' + "TableCoffees/Food";
            var ddlsource = "#category";
            $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                var item = '<option value="" disabled selected hidden>-- Select an item --</option>';
                $('#item').empty();
                $.each(data, function(i, food) {
                    item += "<option value='" + food.value + "'>" + food.text + "</option>"
                });
                $('#item').html(item);
            });
        });
    });
    $(function() {
        $('input[type="text"]').change(function() {
            this.value = $.trim(this.value);
        });
    })
    $(function() {
        $("#edit").on("show.bs.modal", function(e) {
            var id = $(e.relatedTarget).attr('data-id').trim();
            var name = $(e.relatedTarget).attr('data-name').trim();
            var amount = $(e.relatedTarget).attr('data-amount').trim();
            $(e.currentTarget).find('#billId').val(id);
            $(e.currentTarget).find('#itemName').val(name);
            $(e.currentTarget).find('#amountEdit').val(amount);
        });
    });
    $(function() {
        $("#delete").on("show.bs.modal", function(e) {
            var id = $(e.relatedTarget).attr('data-id').trim();
            var name = $(e.relatedTarget).attr('data-name').trim();
            $(e.currentTarget).find('#delBill').val(id);
            $(e.currentTarget).find('#delName').val(name);
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
